@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body{
	/* background: url('../zdjecia/wallpapers/bg.jpg') no-repeat center; */
	/* background-size: cover;
	width: 100%;
	height: 100vh; */
}

.wrapper{
	position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.lowerWrapper{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: aliceblue;
    /* display: inline-block; */
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 650px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 60px;
    
    /* height: 30%; */
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.list-group{
    overflow: scroll; 
    overflow-x: hidden;
    max-height: 535px;
}
    /* .list-group-item-light{
        background-color: transparent;
    }
    .list-group-item-light.list-group-item-action:hover{
        background-color: white;
    } */
    .list-group-item-light.list-group-item-action:hover{
        cursor: pointer;
    }
    .klasaTestowa{
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0,0.6);
        max-width: 550px;
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        font-size: 12px;
    }
    .searchbtn1 {
        background: #2b272774;
        color: white;
        width: 20%;
        border: none;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
    }.searchbtn1:hover{
        background-color: rgb(70, 70, 65);
    }
    .searchbtn2 {
        background: #8f8f8b74;
        width: 20%;
        border: none;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
    }.searchbtn2:hover{
        background-color: rgb(92, 92, 89);
    }
    .searchbtn3 {
        background: #f3f3ed74;
        color: black;
        width: 20%;
        border: none;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
    }.searchbtn3:hover{
        background-color: rgb(84, 84, 81);
    }
    .searchbtn4 {
        background: #42798f74;
        width: 20%;
        border: none;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
    }.searchbtn4:hover{
        background-color: rgb(49, 137, 196);
    }
    .searchbtn5 {
        background: #ff000d74;
        width: 20%;
        border: none;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
        color: black;
    }.searchbtn5:hover{
        background-color: rgb(255, 0, 0);
    }
    .searchbtn6 {
        background: #60a05a74;
        width: 20%;
        border: none;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
    }.searchbtn6:hover{
        background-color: rgb(51, 129, 68);
    }
    .searchbtn7 {
        background: #00e5ff74;
        width: 20%;
        border: none;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
    }.searchbtn7:hover{
        background-color: rgb(0, 217, 255);
    }
    .searchbtn8 {
        background: #ff910074;
        width: 20%;
        border: none;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        margin-left: 30px;
    }.searchbtn8:hover{
        background-color: rgb(255, 187, 0);
    }
    .tytul{
        position: absolute;
        top: 4%;
        left: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Rock Salt', cursive;
        text-align: center;
        color: white;
        font-size: 42px;
    }
    .copyright{
        position: absolute;
        top: 92%;
        left: 1%;

    }

    @media screen and (max-width:768px){

        .wrapper{
            transform: translate(-50%, -50%);
            width: 90%;         
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            background: rgba(0, 0, 0,0.6);
            color: black;
            top: 19%;
        }
        .lowerWrapper{
            font-size: 14px;
            width: 80%;
        }
        .divv img{
            max-height: 100px;
            max-width: 100px;
            border-radius: 5px;
        }
        .tekst3{
            width: 99%;
            height: 25%;
        }
        .miniaturkaClass img{
            max-height: 100px;
            max-width: 100px;
            border-radius: 5px;
        }
        .list-group{

            max-height: 370px;
        }
        .miniaturka img{
            max-height: 100px;
            max-width: 100px;
            border-radius: 5px;
        }
        .youtubeModal{
            width: 99%;
            height: 25%;
        }
        .copyright{
            font-size: 10px;
            top: 95%;
        }
        .wrapper .input {
            padding: 2px 10px;
            font-size: 19px;
        }
        .klasaTestowa{
         padding: 5px;
         text-align: center;
         top: 25%;
         margin-top: 10px;
        }
        .tytul{
            margin-top: 6%;
        }
        
    }

    /* zmiany pod telefon martyny, do zrobienia w przyszlosci */
    /* @media (min-height: 225px) and (max-height: 679px){
        .list-group{

            max-height: 190px;
        }

    } */